@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

:root {
  --header-height: 3.5rem;
  /* Colors */
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(93, 54%, 54%);
  --first-color-alt: hsl(93, 50%, 48%);
  --first-color-light: hsl(93, 58%, 66%);
  --title-color: hsl(228, 8%, 98%);
  --text-color: hsl(228, 8%, 70%);
  --white-color: hsl(228, 8%, 98%);
  --black-color: hsl(228, 6%, 4%);
  --body-color: hsl(228, 6%, 8%);
  --container-color: hsl(228, 6%, 12%);
  --shadow-img: 0 0 48px hsla(93, 54%, 54%, .4);
  --gradient-card: linear-gradient(180deg,
                                hsla(93, 8%, 8%),
                                hsla(93, 40%, 30%));

  /* Font and typography */
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /* Font weight */
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.25rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}